.App {
    max-width: 600px;
    left: 0;
    right: 0;
    margin: auto auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}

.App p {
    text-align: center;
}

.App .control-buttons {
    display: flex;
}

.App .control-buttons button {
    margin: 0 5px;
}

.App .results-wrapper {
    display: flex;
    flex-direction: column;
}

.App .thanks {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.button-success {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65);
}
